@page
@model PermisosWeb.Pages.PermisosModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <main class="contenedor">
        <h3 class="centrar-texto">Solicitud de permiso</h3>

        @* <div class="permiso-bg"></div> *@
        <form class="formulario">
            <div class="campo">
                <label class="campo__label" for="nombre">Nombre del Trabajador(a):</label>
                <label for="nombre">@Model.nombreCompleto</label>
            </div>

            <div class="campo">
                <label class="campo__label" for="nomina">Numero de Nómina:</label>
                <label for="nombre">@Model.Nomina</label>
            </div>

            <div class="campo">
                <label class="campo__label" for="area">Área de Inscripción:</label>
                <label for="nombre">@Model.Area</label>
            </div>

            <div class="campo">
                <label class="campo__label" for="fechaDeElaboracion">Fecha de Elaboración:</label>
                <label for="nombre">@Model.Fecha</label>
            </div>

            <div class="campo">
                <label class="campo__label" for="justificacion">Tipo de Justificación:</label>
                    <select name="justificacion">
                        <option selected value="0"> Elige una opción </option>
                        <option value="1">Permiso 2 Horas</option>
                        <option value="2">Permiso Económico</option> 
                        <option value="3">Permiso Cumpleaños</option> 
                    </select>
            </div>

            <div class="campo">
                <label class="campo__label" for="fechaJustificacion">Fecha(s) a justificar:</label>
                <div class="fecha">
                    <div>
                        <label>Inicio:</label>
                        <input lass="campo__field" type="date" id="start" name="trip-start" value="2020-02-10" min="2020-02-10" max="2050-12-31">
                    </div>
                    <div>
                        <label>Fin:</label>
                        <input lass="campo__field" type="date" id="start" name="trip-start" value="2020-02-10" min="2020-02-10" max="2050-12-31">
                    </div>
                </div>
            </div>

            <div class="campo">
                <label class="campo__label" for="horasJustificacion">Horas a justificar:</label>
                <div class="fecha">
                    <div>
                        <label>Inicio:</label>
                        <select name="hora de inicio">
                            <option selected value="0"> Elige una opción </option>
                            <option value="1">7:00</option>
                            <option value="2">13:00</option> 
                        </select>
                    </div>
                    <div>
                        <label>Fin:</label>
                        <label>15:00</label>
                    </div>
                </div>
            </div>

            <div class="alinear-derecha">
                <input type="submit" value="Enviar" class="boton boton--primario">
            </div>


            <table class="campo">

                <tr>
                <th>Folio</th>
                <th>Tipo</th>
                <th>Fecha de Elaboración</th>
                <th>Fecha de Justificación 1</th>
                <th>Fecha de Justificación 2</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Estado</th>
                <th></th>
                <th></th>
                </tr>
            
                        @foreach (var item in Model.listPermisos)
                        {
                            <tr>
                            <td>@item.Folio</td>
                            <td>@item.Tipo</td>
                            <td>@item.FechaElab</td>
                            <td>@item.FechaInicio</td>
                            <td>@item.FechaFin</td>
                            <td>@item.HoraInicio</td>
                            <td>@item.HoraFin</td>
                            <td>@item.Estado</td>
                            <td> <input type="submit" value="✓" class="boton boton--primario"></td>
                            <td> <input type="submit" value="x" class="boton boton--primario"></td>
                            </tr>
                        }
                
            
            </table>
            <p></p>
            <div class="alinear-derecha">
                <input type="submit" value="Salir" class="boton boton--primario">
            </div>
        </form>
    </main>
   